<div class="animated fadeIn">
  <div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <!-- <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button> -->
          <div>{{totalProduct}}</div>
          <div>Total Product</div>
      
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
          </div>
        <div>{{totalClient}}</div>
        <div>Total Client</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-danger">
      <div class="card-body pb-0">
        <div class="btn-group float-right" dropdown>
        </div>
        <div>{{totalActivity}}</div>
        <div>Total Activity</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
      </div>
    </div>
  </div>



</div>