<div class="app-body bg">
  <main class="main d-flex align-items-center" style="background-color: rgba(0, 0, 0,0.7);width: 100%;">



    <!-- <div class="logo">
          <img src="assets/img/logo.png" alt="">
      </div>
    
      <div class="content">
        
          <span id="id_login">
              <h3 class="form-title">Login </h3>
              <div class="alert alert-error display-hide">
                <button class="close" data-close="alert"></button>
                <span>Enter any username and password.</span></div>
                <div class="form-group">
                  <label class="control-label visible-ie8 visible-ie9">Email Address</label>
                  <div class="input-icon"><i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email Address / Mobile No" name="username" id="userEmailAddress"></div></div>
                    <div class="form-group">
                      <label class="control-label visible-ie8 visible-ie9">Password</label>
                      <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" id="userPassword"></div></div>
                        <div class="form-actions"><label class="checkbox">
                          <div class="checker" id="uniform-id_rememberunameandpwd"><span>
                            <input type="checkbox" name="remember" value="1" id="id_rememberunameandpwd"></span></div> Remember me </label>
                            <button type="submit" class="btn btn-info pull-right" onclick="teamLeadLogin();return false;">Login </button></div>
                            <div class="forget-password"><h4>Forgot your password ?</h4>
                              <p>no worries, click <a href="forgotPassword.html" id="forget-password"> here</a> to reset your password.</p></div></span>

      </div> -->



    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card p-2 login-form">

              <div class="card-body">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" [(ngModel)]="loginDetail.email"
                    name="email" autocomplete="email" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginDetail.password"
                    name="password" autocomplete="current-password" required>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-4" (click)="submitLogin()">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" (click)="forgotPassword()">Forgot password?</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
