<app-header [navbarBrandRouterLink]="['/sales/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/purple.png', width: 200, height: 53, alt: 'Sales Tracking System'}"
  [navbarBrandMinimized]="{src: 'assets/img/logo/NewLogo.jpg', width: 30, height: 30}" [sidebarToggler]="'lg'">

  <!-- [navbarBrandFull]="{src: 'assets/img/brand/purple.png', width: 200, height: 53, alt: 'Sales Tracking System'}" -->
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="/sales/dashboard">Home</a>
    </li>
  </ul> -->

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link"  (click) ="toggleDisplay()" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle (click)="false"><i class="icon-speech"></i>
      </a>

      <div class="dropdown-menu-right"  [hidden] = "!isShow" *dropdownMenu aria-labelledby="simple-dropdown"
        style="background-color: azure; position: absolute;width: 250px; background-color: #9896f9;">
        <div class="dropdown-header text-center" style="color: white;background-color: blueviolet;">
          <strong>Chat</strong></div>

        <div class="row" style="padding: 0;height: 400px; ">
          <div class="col-lg-12">
            <div class="card" style="height: 402px;margin-bottom: 0px;">
              <div class="card-body table-responsive"  style="padding-left: 0px;
              padding-right: 0px;">

                <ul id="chat" style="height: 315px;"  >
                  <!-- <h3>{{this.chat.createddate}}</h3> -->
                  <li class="me"  *ngFor="let chat of chatDetails;let i=index;">
                    <!-- <h3>{{chat.createdtime}}</h3> -->
                    <div  *ngIf="chat.createdby==this.chat.adminId">
                    <div class="entete">
                      <!-- <h2 style="color: black;">{{this.chat.adminname}} (Admin) </h2> -->
                      <h2 style="color: black;width: 42px;">Admin</h2>
                      <!-- <span class="status blue"></span> -->
                    </div> 
                    <!-- <div class="triangle"></div> -->
                    <div class="message" style="background-color: #ed6f6f;">
                      {{this.chat.msg}}
                    </div>
                    <div>
                      <!-- <h2 style="color: gray;">{{this.chat.createdtime}}</h2> -->
                      <h2  style="width: 110px; color: gray;">{{this.chat.createdon}}</h2>

                      <!-- <h2 style="color: gray;">{{this.chat.createdtime | date:'shortTime'}}</h2> -->
                    </div>
                    </div>
                    
                    <div *ngIf="chat.createdby==this.chat.salesId">
                      <div class="entete">
                        <!-- <h2 style="color: black;">{{this.chat.salesname}} </h2> -->
                        <h2 style="color: black;">Me</h2>
                        <!-- <span class="status green"></span> -->
                      </div> 
                      <!-- <div class="sales"></div> -->
                      <div class="message" style=" background-color: #ffc107;">
                        {{this.chat.msg}}
                      </div>
                      <div>
                        <!-- <h2 style="color: gray;">{{this.chat.createdtime}}</h2> -->
                      <h2 style="color: gray;">{{this.chat.createdon}}</h2>

                      </div>
                    </div>
                  </li>
                </ul>

              </div>

              <div class="text text-r form-inline md-form mr-auto mb-4"
                style="background:whitesmoke !important;margin-left: 7px; margin-bottom: 0rem !important;">

                <input class="mytext" style="border-radius: 20px;" type="text" id="msg" name="msg" [(ngModel)]="chat.msg" (click)="view_msg()"
                  placeholder="Type a message" />
                <button style="margin-left: 32px; border-radius: 34px;" class='btn btn-success' type="button" (click)="send_msg()"><i
                    class="fa fa-send" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </li>







    <li class="nav-item d-md-down-none">
      <a class="nav-link " href="/sales/activity/currentactivity"><i class="icon-bell"></i>
        <span data-toggle="tooltip" data-placement="left" tooltip="{{assignedActivity}} Activities are assigned to you."
          *ngIf="assignedActivity > 0" class="badge badge-pill badge-danger blinking ">{{assignedActivity}}</span></a>
    </li>

    <li class="nav-item d-md-down-none">
      Welcome {{username}}
    </li>

    <!-- Profile -->

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img [src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+ salesavatar.image"
          *ngIf="salesavatar.image" class="img-avatar" alt="admin@bootstrapmaster.com" />
        <img [src]="'/assets/img/avatars/admin.png'" *ngIf="!salesavatar.image" class="img-avatar"
          alt="admin@bootstrapmaster.com" />

      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>

        <a class="dropdown-item" data-toggle="modal" data-toggle="modal" (click)="openModal(template)"><i
            class="fa fa-user"></i> Profile</a>

        <div class="dropdown-header text-center"><strong>Settings</strong></div>

        <a class="dropdown-item" data-toggle="modal" data-toggle="modal" (click)="changePasswordModal(template1)"><i
            class="fa fa-user"></i>Change Password</a>

        <div class="divider"></div>
        <a class="dropdown-item" href="sales/login" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="SalesnavItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <main class="main bg">
    <cui-breadcrumb>

    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<!-- Footer -->
<app-footer>
  <span><a href="sales/dashboard">Sale Tracking System</a> &copy; 2020 </span>
  <span class="ml-auto">Powered by <a href="sales/dashboard">AV</a></span>
</app-footer>












<!-- PROFILE -->

<ng-template #template>
  <!-- <div style="overflow-y: scroll;height: calc(100vh - 74px);"> -->
  <div class="modal-header">
    <div class="card-header">
      <strong>Sales Profile</strong>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="image">Profile Pic</label><br>
        <!-- Profile pic-->
        <img [src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+profile_pic.image"
          *ngIf="(profile_pic.image && !pro.ImageData)" class="profile-pic">

        <!-- Default image -->
        <img [src]="'/assets/img/avatars/admin.png'" *ngIf="(!profile_pic.image && !pro.ImageData) " height="100px"
          width="100px">

        <!-- Display new selected pic to upload -->
        <img height="100px" width="100px" [src]="pro.ImageData" *ngIf="pro.ImageData">

      </div>

      <div class="form-group">
        <button class="btn btn-danger" (click)="delete_profile_pic(user.id)">Remove</button>
        <input class="btn btn-success" type="file" id="fileupload" name="image"
          (change)="handleFileInput($event.target.files)" [(ngModel)]="updateProfile.image" />


      </div>

      <div class="form-group col-md-6">
        <label for="salesName">Username</label>
        <input type="sales" class="form-control" id="salesName" placeholder="Enter the Username"
          [(ngModel)]="updateProfile.salesName" name="salesName">
      </div>

      <div class="form-group col-md-6">
        <div class="input-group-prepend">
          <label for="gender">Gender</label>
        </div>
        <div class="col-md-9 col-form-label">
          <div class="form-check form-check-inline mr-1" id="inline-radios">
            <input class="form-check-input" type="radio" name="gender" id="male" [(ngModel)]="updateProfile.gender"
              value="Male">
            <label class="form-check-label" for="Male">Male</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="gender" id="female" [(ngModel)]="updateProfile.gender"
              value="Female">
            <label class="form-check-label" for="Female">Female</label>
          </div>
        </div>
      </div>


      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="email" [(ngModel)]="updateProfile.email"
          name="email" disabled>
      </div>

      <div class="form-group col-md-6">
        <label for="mobile">Mobile</label>
        <input type="mobile" class="form-control" id="mobile" placeholder="Enter the mobile"
          [(ngModel)]="updateProfile.mobile" name="mobile">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="addrress">Address</label>
        <textarea id="address" name="address" [(ngModel)]="updateProfile.address" rows="5" class="form-control"
          placeholder="Enter your address"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="adharcard">Adhar Card</label>
        <input type="text" class="form-control" id="adharcard" placeholder="Enter Adhar Card Detail"
          [(ngModel)]="updateProfile.adharcard" name="adharcard" required>
      </div>
    </div>

    <!-- <div style="justify-content: center;display: flex;">
           <button type="submit" class="btn btn-primary" (click)="updateadminProfile()">Update</button> 
         </div> -->

    <div class="card-footer">
      <button style="float: right;" type="submit" class="btn btn-sm btn-success" (click)="updatesalesProfile()"><i
          class="fa fa-dot-circle-o"></i> Update</button>
    </div>
  </div>
  <!-- </div> -->
</ng-template>



<!-- change password -->
<ng-template #template1>
  <div class="modal-header">
    <div class="card-header">
      <strong>Change Password</strong>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="oldpassword">Old Password</label>
        <input type="password" class="form-control" id="oldpassword" placeholder="Old Password" name="oldpassword"
          [(ngModel)]="changePassword.oldpassword">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="oldpassword">New Password</label>
        <input type="password" class="form-control" id="newpassword" placeholder="New Password" name="newpassword"
          [(ngModel)]="changePassword.newpassword">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password"
          name="confirmpassword" [(ngModel)]="changePassword.confirmpassword">
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-success" (click)="changepassword(changePassword.id)"><i
          class="fa fa-dot-circle-o"></i>Submit</button>
    </div>
  </div>
</ng-template>