.bg {
    background-image: url("/assets/img/brand/sts2.png");
    /* background-color: darkslategrey; */
    background-size: 1374px 634px
    }

    .profile-pic {
        height: 90px;
          width: 80px;
      }
      
      .app-header .nav-item {
        color: white;
    }
    
    .modal-header {
        background-color: lightgray;
        padding: 0rem 0rem;
      }
      
      .card-footer:last-child {
        padding-left: 0px;
        padding-top: 11px;
        padding-right: 0px;
        padding-bottom: 0px;
        background-color: transparent;
      }
      
      .modal-header .close {
        padding: 1rem 1rem;
        margin: 0rem 0rem 0rem auto;
    }


    .blinking{
      animation:blinkingText 1.2s infinite;
  }

  @keyframes blinkingText{
      0%{   background-color: red; color: white;  }
      50%{   background-color: yellow; color: black; }
      100%{    background-color: red; color: white;  }
  }