<div class="app-body bg">
    <main class="main d-flex align-items-center" style="background-color: rgba(0, 0, 0,0.7);">
  
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="card-group">
              <div class="card p-2">
                <div class="card-body">
  
                  <h3>Forgot Password?</h3>
                  <p class="text-muted"></p>
                  <p>
                    Enter your e-mail address / mobile number below to reset your password.
                  </p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control placeholder-no-fix" placeholder="Email/Mobile No."
                      [(ngModel)]="loginDetail.email" name="email" autocomplete="email" required>
                  </div>
  
                  <div class="form-actions">
                    <button type="button" id="back-btn" class="btn btn-default" (click)="backtologinpage()">
                      <i class="m-icon-swapleft"></i> Back </button>
                    <button type="button" id="id_btn_forgotpassword" class="btn btn-info pull-right" (click)="Sendmail()">
                      Submit </button>
                  </div>
  
                </div>
              </div>
              <div class="copyright">
                2019 - <span id="currentYearField">2020</span> © Sales Tracking System. All Rights Reserved.
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </main>
  </div>
  