<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add Activity</strong>
        </div>
        <div class="card-body">

          <div class="form-group row">
            <div class="col-md-6">
              <label>Title</label>
              <input type="text" id="title" name="title" [(ngModel)]="activity.title" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="select1">Client Name</label>
              <select name="clientName" class="form-control" [(ngModel)]="activity.clientId">
                <option [ngValue]="undefined" selected>Select client Name</option>
                <option *ngFor="let item of clientDetails;" name="clientName" [ngValue]="item.id">{{item.clientName}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label for="select1">Sales Name</label>
              <select name="clientName" class="form-control" [(ngModel)]="activity.salesId">
                <option [ngValue]="undefined" selected>Select Sales Name</option>
                <option *ngFor="let item of salesDetails;" name="salesName" [ngValue]="item.id">{{item.salesName}}
                </option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="contact">Contact no.</label>
              <input type="text" class="form-control" id="contact" [(ngModel)]="activity.contact " name="contact "
                placeholder="Enter contact no.">
            </div>

          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label class="text-input">Appointment Date</label>
              <input class="form-control" id="date" type="date" name="appointmentDate"
                [(ngModel)]="activity.appointmentDate">
            </div>
            <div class="col-md-6">
              <label>Description</label>
              <!-- <input type="text" id="description" name="description" [(ngModel)]="activity.description"  class="form-control" > -->
              <textarea type="text" id="description" name="description" [(ngModel)]="activity.description" rows="5"
                class="form-control" placeholder="Enter description"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3">
              <label for="select1">Product Name</label>
              <select name="productname" class="form-control" [(ngModel)]="activity.productId">
                <option [ngValue]="undefined" selected>Select Product Name</option>
                <option *ngFor="let item of productDetails;" name="productname" [ngValue]="item.id">{{item.productname}}
                </option>
              </select>
            </div>
            <div class="col-sm-1">
              <label for="contact">Price</label>
              <input type="text" class="form-control" id="price" name="price " placeholder="price">
            </div>
            <div class="col-sm-1">
              <label for="price" style="color:red;">Qty*</label>
              <input type="text" class="form-control" id="qty" placeholder="Qty">
            </div>
            <div class="col-sm-1">
              <label for="price">Amount</label>
              <input type="text" class="form-control" id="amount" placeholder="Amount">
            </div>
            <div class="col-sm-1">
              <label for="price">Dis.(%)</label>
              <input type="text" class="form-control" id="discount" placeholder="Dis.(%)">
            </div>
            <div class="col-sm-1">
              <label for="price">Dis.Amt</label>
              <input type="text" class="form-control" id="discountamount" placeholder="Dis.Amt">
            </div>
            <div class="col-sm-1 total_amount_left">
              <label for="price">Total Amt</label>
              <input type="text" class="form-control" id="totalamount" placeholder="">
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-sm-1 add_product_button_left">
              <button type="submit" class="btn btn-sm btn-success" (click)="submitForm()"><i
                  class="fa fa-dot-circle-o"></i>Add</button>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="card">
              <div class="card-header color">
                Product Details
               </div>
              <div class="card-body table-responsive">
                <table class="table table-bordered  btn-center">
                  <thead>
                    <tr class="table-success">
                      <th>Sr.no</th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Qty</th>
                      <th>Amount</th>
                      <th>Discount</th>
                      <th>Dis Amount</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                    <tr *ngFor="let item of activityDetails;let i=index;">
                      <td>{{i+1}}</td>
                      <td>{{item.productname}}</td>
                      <td>{{item.price}}</td>          
                      <!-- <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                          (click)="openupdatemodal(content,item)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button class='btn btn-danger' type="button" (click)="onDelete(item.aid)"><i class="fa fa-trash"
                            aria-hidden="true"></i></button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-1 left_div">
              <label>Sub Total</label>
            </div>
            <div class="col-sm-1 label_subtotal_left">
              <label>120.00</label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3 left_div">
              <label>Discount Amt</label>
            </div>
            <div class="col-sm-1 label_discountamount_left">
              <label>00.00</label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-1 left_div">
              <label>Total</label>
            </div>
            <div class="col-sm-1 label_total_left">
              <label>120.00</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 left_div">
              <label for="advancepayment">Adva.Pay</label>
            </div>
            <div class="col-sm-2 left_advance_payment">
               <input type="number" class="form-control" id="advancepayment" name="advancepayment " placeholder="Advance Payment">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2 left_div">
              <label for="select1">Payment Mode</label>
            </div>
            <div class="col-sm-2 left_payment_mode">
              <select name="paymentmode" class="form-control">
                <option [ngValue]="undefined" selected>Select Pay Getway</option>
                <option name="advancepayment">Cash</option>
                <option name="advancepayment">Debit Card</option>
                <option name="advancepayment">Credit Card</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 left_div">
              <label for="paymentdue">Pay Due</label>
            </div>
            <div class="col-sm-2 left_payment_due">
              <input type="text" class="form-control" id="paymentdue" name="paymentdue " placeholder="Payment Due">
            </div>
          </div>
        </div>


        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success" (click)="submitForm()"><i class="fa fa-dot-circle-o"></i>
            Assign</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          <button type="submit" class="btn btn-sm btn-primary" (click)="viewActivityForm()">View</button>
        </div>

      </div>
    </div>
  </div>
</div>
