<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add Activity</strong>
        </div>
        <div class="card-body">

          <div class="form-group row">
            <div class="col-md-6">
              <label>Title</label>
              <input type="text" id="title" name="title" [(ngModel)]="activity.title" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="select1">Client Name</label>
              <select name="clientName" class="form-control" [(ngModel)]="activity.clientId">
                <option [ngValue]="undefined" selected>Select client Name</option>
                <option *ngFor="let item of clientDetails;" name="clientName" [ngValue]="item.id">{{item.clientName}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label>Description</label>
              <textarea #descrip type="text" id="description" name="description" maxlength="150" [(ngModel)]="activity.description" rows="5"
                class="form-control" placeholder="Enter description" ></textarea>
               
               Total characters allowed  {{descrip.value.length}} / 150
            </div>
            <div class="col-md-6">
              <label for="select1">Sales Name</label>
              <select name="clientName" class="form-control" [(ngModel)]="activity.salesId">
                <option [ngValue]="undefined" selected>Select Sales Name</option>
                <option *ngFor="let item of salesDetails;" name="salesName" [ngValue]="item.id">{{item.salesName}}
                </option>
              </select>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="contact">Contact no.</label>
                  <input type="text" class="form-control" id="contact" [(ngModel)]="activity.contact " name="contact "
                    placeholder="Enter contact no.">
                </div>
                <div class="col-sm-6">
                  <label class="text-input">Appointment Date</label>
                  <input class="form-control" id="date" type="date" name="appointmentDate"
                    [(ngModel)]="activity.appointmentDate">
                </div>
              </div>
            </div>
          </div>

          <div class="card-body table-responsive">
        <div class="form-group">
          <div class="col-sm-12">
            <table class="table" style="border-bottom: solid;">
              <thead class="color">
                <tr>
                  <th>Sr.</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Qty*</th>
                  <th>Amt</th>
                  <th>Dis (%)</th>
                  <th>Dis. Amt</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let products of addproductlistDetails;let i=index;">
                  <td>{{i+1}}</td>
                  <td><select id="productname" name="productname" class="form-control" [(ngModel)]="products.productId"
                      (change)="onProductChange($event.target.value,i)">
                      <option [value]="undefined" selected>Select Product Name</option>
                      <option *ngFor="let item of productDetails;" value={{item.id}}>{{item.productname}} </option>
                    </select></td>
                  <td> 
                    {{products.price}}
                  </td>
                  <td>
                     <input type="text" class="form-control" id="quantity" name="quantity" #quantity
                      [(ngModel)]="products.quantity" (keyup)="TotalAmount(products.price,quantity.value,dis_per.value,i)"> 
                  </td>
                  <td>
                    {{products.amount}}
                  </td>
                
                  <td> 
                    <input #dis_per type="text" class="form-control" id="discount_per" name="discount_per"
                    [(ngModel)]="products.discount_per"   (keyup)="TotalAmount(products.price,quantity.value,dis_per.value,i)">
                </td>
                <td>
                    {{products.discount_amt}}
                </td>
                  <td>
                      {{products.total_price}}
                  </td>    
                </tr>
              </tbody>
             
            </table>
            <div class="form-group add_product">    
              <button type="submit" class="btn btn-sm btn-success" tooltip="Add more products"  style="float: right;" (click)="addMoreproducts()"><i
                  class="fa fa-plus"></i> </button>
          </div>
          </div>
        </div>
     
      </div>


      <div class="form-group ">
        <div class="col-sm-3" style="float: right;">
          <div>
            <label>Subtotal </label><label style="padding-left: 55px;">{{total | currency: "INR"}}</label>
          </div>
          <div>
            <label>Dis. amt </label><label
              style="padding-left: 59px;">{{total_dis_amount | currency: "INR"}}</label>
          </div>
          <div>
            <label>Adv. Payment </label>
            <input #adv_payment type="text" style="width: 104px; margin-left: 20px;" id="adv_payment"
              name="adv_payment" [(ngModel)]="activity.advance_payment"
              (keyup)=" Total_pending_amt(adv_payment.value)">
          </div>
          <div>
            <label>Payment Mode </label>
            <select style="padding-left: 0px; width: 105px; margin-left: 11px;" id="productname" name="productname"
              [(ngModel)]="activity.payment_mode">
              <option [ngValue]="undefined" selected>Select Payment Mode</option>
              <option value="Cash">Cash </option>
              <option value="Cheque">Cheque</option>
            </select>
          </div>
          <div>
            <label>Pending amt </label>
            <label style="padding-left: 32px;">{{pending_amount | currency: "INR"}}</label>
          </div>
          <div>
            <label>Grand Total </label><label style="padding-left: 39px;"> {{final_total | currency: "INR"}}</label>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    

        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success" (click)="submitForm()"><i class="fa fa-dot-circle-o"></i>
            Assign</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="resetForm()"><i class="fa fa-ban"></i> Reset</button>
          <button type="submit" class="btn btn-sm btn-primary" (click)="viewActivityForm()">View</button>


        </div>
      </div>
    </div>