
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <strong>Add Client</strong>
            </div>
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <!-- <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Client Name</label>
                  <div class="col-md-9">
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                    <span class="help-block">This is a help text</span>
                  </div>
                </div> -->
                <!-- <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
                  <div class="col-md-9">
                    <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email" autocomplete="email">
                    <span class="help-block">Please enter your email</span>
                  </div>
                </div> -->
                <div class="form-group">
                  <label for="text-input">Client Name</label>
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                </div>

                <div class="form-group">
                  <label  for="email-input">Email Input</label>
                    <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email" autocomplete="email">
                </div>

                
                <div class="form-group">
                  <label for="contact">Contact no.</label>
                  <input type="text" class="form-control" id="contact" placeholder="Enter contact no.">
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="inline-radios">Gender</label>
                  <div class="col-md-9 col-form-label">
                    <div class="form-check form-check-inline mr-1" id="inline-radios">
                      <input class="form-check-input" type="radio" name="inline-radios" id="Male" value="Male">
                      <label class="form-check-label" for="Male">Male</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" name="inline-radios" id="Female" value="Female">
                      <label class="form-check-label" for="Female">Female</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" placeholder="Enter address">
                </div>

                
                <div class="form-group">
                  <label for="street">Street</label>
                  <input type="text" class="form-control" id="street" placeholder="Enter street name">
                </div>
                <div class="row">
                  <div class="form-group col-sm-8">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="Enter your city">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="postal-code">Postal Code</label>
                    <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                  </div>
                </div><!--/.row-->
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="country" placeholder="Country name">
                </div>

                <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input">Added on</label>
              <div class="col-md-9">
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                <span class="help-block">Please enter a valid date</span>
              </div>
            </div> -->
              
                <!-- <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select1">Select</label>
                  <div class="col-md-9">
                    <select id="select1" name="select1" class="form-control">
                      <option value="0">Please select</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select2">Select Large</label>
                  <div class="col-md-9">
                    <select id="select2" name="select2" class="form-control form-control-lg">
                      <option value="0">Please select</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select3">Select Small</label>
                  <div class="col-md-9">
                    <select id="select3" name="select3" class="form-control form-control-sm">
                      <option value="0">Please select</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                  </div>
                </div> -->
                <!-- <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="disabledSelect">Disabled Select</label>
                  <div class="col-md-9">
                    <select id="disabledSelect" class="form-control" disabled>
                      <option value="0">Please select</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                  </div>
                </div> -->
                <!-- <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="multiple-select">Multiple select</label>
                  <div class="col-md-9">
                    <select id="multiple-select" name="multiple-select" class="form-control" size="5" multiple>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                      <option value="4">Option #4</option>
                      <option value="5">Option #5</option>
                      <option value="6">Option #6</option>
                      <option value="7">Option #7</option>
                      <option value="8">Option #8</option>
                      <option value="9">Option #9</option>
                      <option value="10">Option #10</option>
                    </select>
                  </div>
                </div> -->
               
               
                <!-- <div class="form-group row">
                  <label class="col-md-3 col-form-label">Checkboxes</label>
                  <div class="col-md-9 col-form-label">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                      <label class="form-check-label" for="checkbox1">
                        Option 1
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="option1" id="checkbox2">
                      <label class="form-check-label" for="checkbox2">
                        Option 2
                      </label>
                    </div>
                    <div class="form-check checkbox">
                      <input class="form-check-input" type="checkbox" value="option1" id="checkbox3">
                      <label class="form-check-label" for="checkbox3">
                        Option 3
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Inline Checkboxes</label>
                  <div class="col-md-9 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
                      <label class="form-check-label" for="inline-checkbox1">One</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="option2">
                      <label class="form-check-label" for="inline-checkbox2">Two</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="option3">
                      <label class="form-check-label" for="inline-checkbox3">Three</label>
                    </div>
                  </div>
                </div> -->
               
              </form>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </div>
        </div>