.bg {
  /* background-image: url("/assets/img/Images/1.jpg"); */
  background-image: url("/assets/img/wallpapers/5.jpg");
  /* background-color: darkslategrey; */
  background-size: 1536px 721px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #999;
  font-size: 13px;
}

.card:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ddc482;
}
