<div class="row" style="padding: 0;">
<div class="col-lg-12">
  <div class="card">
    <div class="card-header color">
      Category Details
      <button type="submit" style="float: right; width: 74px;" class="btn btn-sm btn-success"
      (click)="addnewCategory()"><i class="fa fa-plus">Add</i></button>
    </div>
      
       
    <!-- <div style="overflow-x:auto;"> -->
    <div class="card-body table-responsive">
      <table class="table table-bordered ">
        <thead>
          <tr class="table-success">
            <th>Sr.no</th>
            <th>ID</th>
            <th>Category</th>
            <th>Action</th>
            <th>IsActive</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of categoryDetails;let i=index;">
            <td>{{i+1}}</td>
            <td>{{item.cid}}</td>
            <td>{{item.cname}}</td>
            <!-- <td >{{item.date}}</td> -->
            <td style="text-align: center">
              <button type="button" class="btn btn-primary" data-toggle="modal"
                (click)="openupdatemodal(content,item)"><i class="fa fa-edit" aria-hidden="true"></i></button>

              <button class='btn btn-danger' type="button" (click)="deleteCategory(item.cid)"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>

            </td>
            <td style="text-align: center">
              <button *ngIf="item.isActive" class='btn btn-success' type="button" (click)="changeStatus(item.cid)"><i
                  class="fa fa-check-circle"></i></button>
              <button *ngIf="!item.isActive" class='btn btn-danger' type="button" (click)="changeStatus(item.cid)"><i
                  class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="message" *ngIf="categoryDetails.length <= 0">
        <p>No Record</p>
      </div>


    </div>
    <!-- <ul class="pagination" style="margin-left: 600px;">
      <li class="page-item active" *ngFor="let item of categoryList " (click)="clientList(item)">
          <a class="page-link" routerLink="/admin/client/viewclient">
            <span class="sr-only"></span>{{item.pageSize}}</a>
      </li>
    </ul> -->
  </div>
</div>
</div>
<!-- Model to Insert Category  -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 id="dialog-sizes-name1" style="color: black;" class="modal-title pull-right">EDIT</h4>
    <div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body" style="color: black;">
    <div>
      <div class="col-sm-6">
        <label class="text-input">Category</label>
        <input type="text" id="cname" name="cname" [(ngModel)]="category.cname" class="form-control"
          placeholder="Enter category">
        <button type="submit" style="float: right;" class="btn btn-sm btn-success"
          (click)="updateCategory(category.cid)" (click)="modal.dismiss('Cross click')">Submit</button>
        <button type="button" style="float: right;" class="btn btn-sm btn-danger"
          (click)="modal.dismiss('Cross click')">Cancel</button>

      </div>
    </div>
  </div>
</ng-template>