<!-- <div class="animated fadeIn">


      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            Card with switch
            <div class="card-header-actions" style="height: 21px;" >
              <label class="switch switch-sm switch-label switch-info" >
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
          <div class="card-body">

        </div>
        </div>
      </div>

    </div> -->
