/* h3 {
  padding-left: 12px;
  padding-right: 12px;
  text-align: justify;
  margin-bottom: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 17px;
  font-weight: normal;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 13px;
}


.bg {
  background-image: url("/assets/img/brand/purple.png");
  background-size: 1374px 634px
  width: 614px;
  height: 53px;
  margin-top: -23px;
} */
