<p>map works!</p>

<div class="form-group">
  <label>UserName</label>
  <input type="text" class="form-control" [(ngModel)]="RegisterUserDetail.username" placeholder="Enter your name">

</div>
<div class="form-group">
  <label>Password</label>
  <input type="password" class="form-control" [(ngModel)]="RegisterUserDetail. password"
         placeholder="Enter your password">

</div>
<button type="submit" (click)="addRegister()" class="btn btn-primary">Submit</button>



<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">UserID</th>
      <th scope="col">USERNAME</th>
      <th scope="col">PASSWORD</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userDetails">

      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>

    </tr>

  </tbody>
</table>
