<div class="app-body bg">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card p-2">
              <div class="card-body">
                <h3>Reset Password</h3>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control placeholder-no-fix" placeholder="New Password"
                    name="NewPassword" autocomplete required [(ngModel)]="Resetpassword.Newpassword">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control placeholder-no-fix" placeholder="Confirm Password"
                    name="email" autocomplete required [(ngModel)]="Resetpassword.Confirmpassword">
                </div>

                <div class="form-actions">
                  <button type="button" id="back-btn" class="btn btn-default" (click)="backtologinpage()">
                    <i class="m-icon-swapleft"></i> Back </button>
                  <button type="button" id="id_btn_forgotpassword" class="btn btn-info pull-right"
                    (click)="ResetPassword()">
                    Submit </button>
                </div>

              </div>
            </div>
            <div class="copyright">
              2019 - <span id="currentYearField">2020</span> © Sales Tracking System. All Rights Reserved.
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
