/* td{
    text-align: center;
  } */

  .color{
      background-color: lightskyblue;
  }

  /* .font{
    font-size: medium;
  } */

  .btn-center tr td:last-child{
    text-align: center;
}

/* img {
  max-height: 100%;
  max-width: 100%;

} */



.carousel_image {
  max-width: 100%;
  max-height: 100%;

}
  
/* .slide-image {
  height: auto;
  width: auto;
} */


/* 
.wrapper{
  max-width: 800px;
  max-height: 400px;
  min-width: 200;
} */

/* .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; 
  color: modal-content-color;
  pointer-events: auto;
  background-color: modal-content-bg;
  background-clip: padding-box;
  border: modal-content-border-width solid modal-content-border-color;
  border-radius: modal-content-border-radius;
  box-shadow: modal-content-box-shadow-xs;
  outline: 0;
}  */

.modal-content {
  width: 1000px;
    right: 250px;
    height: 490px;
}

.setdelete {
  position: absolute;
  /* z-index: 1; */
  z-index: 999999999;
  background-color: white;
  color: red;
}

.set-in-line {
  float: left;
  margin: 5px;
}

.message {
  text-align: center;
}

/* .view-form {
  padding-left: 10px;
    padding-right: 10px;
} */

.font-size {
  font-size: 43px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}


