.bg {
  /* background-image: url("/assets/img/Images/1.jpg"); */
  background-image: url("/assets/img/wallpapers/5.jpg");
  /* background-color: darkslategrey; */
  background-size: 1536px 721px;
}

.reg-form {
  background-color: lightblue;
}

.reg-footer {
  background-color: #495057;
}

a {
  margin-left: -102px;
  color: rgb(red, green, blue);
  text-decoration: none;
}
