<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <!-- <i class="fa fa-align-justify"></i> -->
      Current Activity
    </div>
    <div style="overflow-x:auto;">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr class="table-success">
              <th>Sr.no</th>
              <th>Product Name</th>
              <th>Client Name</th>
              <th>SalesMan Name</th>
              <th>Client Address</th>
              <th>Appointment Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="">

              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openBackDropCustomClass()"><i
                    class="fa fa-edit" aria-hidden="true"></i></button>
                <button class='btn btn-danger' type="button" (click)="onDelete()"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
              </td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
