.color {
  background-color: lightskyblue;
}

.badge-pill {
  padding: 5px;
  border-radius: 17px;
  width: 120px;
  font-size: medium;
  font-weight: normal;
}

.btn-center tr td:last-child {
  text-align: center;
}

.shape {
  position: absolute;
  z-index: 999999999;
  background-color: white;
  color: red;
  right: 0;
  top: 0;
  border-radius: 0px 10px 0px 50px;
  /* padding: 10px; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  border-left-width: 0px;
  padding-right: 4px;
}

.status-center {
  text-align: center;
}

.add_product {
  /* left: 1020px;
    width: 54px; */
  float: right;
}

.update-modal {
  /* margin: -270px;
    margin-block-start: auto; */
  margin-left: 0px;
  right: 50px;
  width: 1000px;
}

.map {
  font-size: xx-large;
  padding-left: 15px;
}


.message {
  text-align: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: modal-content-color;
  pointer-events: auto;
  background-color: modal-content-bg;
  background-clip: padding-box;
  border: modal-content-border-width solid modal-content-border-color;
  border-radius: modal-content-border-radius;
  box-shadow: modal-content-box-shadow-xs;
  outline: 0;
}

/* .model-ct{
    max-width: 90%;
} */

agm-map {
  height: 450px;
}


.named {
  font: -webkit-mini-control;
  border-width: medium;
  margin-top: ‒10;
  margin-top: 15px;
  width: 92.8px;
  float: right;
  /* margin-left: 450px; */
  background-color: yellow;
}

.marker_tag {
  color: crimson;
}

/* .calc_row {
    float: right;
} */


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}

.modal-title {
  line-height: 1.5;
}



.modal-header .close {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;

  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;

  margin-bottom: 0px;
}


.modal-header {
  padding-top: 5px;
  padding-bottom: 4px;
  margin-top: 0px;
  border-bottom-width: 1px;
}


.download-invoice {
  float: right; 
  background-color: blue; 
  width: 47px;
}


























.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: #001028;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid #5D6975;
  border-bottom: 1px solid #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;

}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: start;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: center;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;
  ;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
table.cust-tbl tbody tr td {
  padding: 5px;
}
.buttonleft {
  margin-left: 935px;
}
