.color{
    background-color: lightskyblue;
}

.badge-pill {
    padding: 5px;
    border-radius: 17px;
    width: 120px;
    font-size: medium;
    font-weight: normal;
}

.btn-center tr td:last-child{
    text-align: center;
}

.add_product{
    left: 1020px;
    width: 54px;
 }
 .update-modal{
    /* margin: -270px;
    margin-block-start: auto; */
    margin-left: 0px;
    right: 50px;
    width: 1000px;
}


/* .blue-gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    background-image: linear-gradient(40deg, rgb(69, 202, 252), rgb(48, 63, 159)) !important;
    background-position-x: initial !important;
    background-position-y: initial !important;
    background-size: initial !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: initial !important;
}

.btn.blue-gradient {
    color: #fff;
    transition: .5s ease;
} */

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; 
    color: modal-content-color;
    pointer-events: auto;
    background-color: modal-content-bg;
    background-clip: padding-box;
    border: modal-content-border-width solid modal-content-border-color;
    border-radius: modal-content-border-radius;
    box-shadow: modal-content-box-shadow-xs;
    outline: 0;
  } 
  /* .model-ct{
      max-width: 90%;
  } */