<div class="col-lg-12">
  <div class="card">
    <div class="card-header color">
      Activity Details
      <button type="submit" style="float: right;" class="btn btn-sm btn-success" (click)="addnewActivity()"><i
          class="fa fa-plus">Add</i></button>
    </div>
    <!-- <div style="overflow-x:auto;"> -->
    <div class="card-body table-responsive">
      <table class="table table-bordered  btn-center">
        <thead>
          <tr class="table-success">
            <th>Sr.no</th>
            <!-- <th>ID</th> -->
            <th>Title</th>
            <th>Description</th>
            <!-- <th>Product</th> -->
            <th>Client</th>
            <th>Sales</th>
            <th>Contact</th>
            <!-- <th>Latitude</th>
            <th>Longitude</th> -->
            <th>Appointment Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of activityDetails;let i=index;">
            <td>{{i+1}}</td>
            <!-- <td>{{item.aid}}</td> -->
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <!-- <td>{{item.productname}}</td> -->
            <td>{{item.clientName}}</td>
            <td>{{item.salesName}}</td>
            <td>{{item.contact}}</td>
            <td>{{item.appointmentDate}}</td>
            <td>
              <span class="badge badge-pill badge-success">{{item.statusname}}</span>
            </td>

            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal"
                (click)="openupdatemodal(content,item)"  (click)="GetProduct_Activity(item.aid)"><i class="fa fa-edit" aria-hidden="true"></i></button>

              <button class='btn btn-danger' type="button" (click)="onDelete(item.aid)"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 id="dialog-sizes-name1" style="color: black;" class="modal-title pull-right">EDIT</h4>
    <div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body" style="color: black;">

      <div class="form-group row">
        <div class="col-md-6">
          <label>Title</label>
          <input type="text" id="title" name="title" [(ngModel)]="activity.title" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="select1">Client Name</label>
          <select name="clientName" class="form-control" [(ngModel)]="activity.clientId">
            <option [ngValue]="undefined" selected>Select client Name</option>
            <option *ngFor="let item of clientDetails;" name="clientName" [ngValue]="item.id">{{item.clientName}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <label>Description</label>
          <textarea type="text" id="description" name="description" [(ngModel)]="activity.description" rows="5"
            class="form-control" placeholder="Enter description"></textarea>
        </div>
        <div class="col-md-6">
          <label for="select1">Sales Name</label>
          <select name="clientName" class="form-control" [(ngModel)]="activity.salesId">
            <option [ngValue]="undefined" selected>Select Sales Name</option>
            <option *ngFor="let item of salesDetails;" name="salesName" [ngValue]="item.id">{{item.salesName}}
            </option>
          </select>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="contact">Contact no.</label>
              <input type="text" class="form-control" id="contact" [(ngModel)]="activity.contact " name="contact "
                placeholder="Enter contact no.">
            </div>
            <div class="col-sm-6">
              <label class="text-input">Appointment Date</label>
              <input class="form-control" id="date" type="date" name="appointmentDate"
                [(ngModel)]="activity.appointmentDate">
            </div>
          </div>
        </div>
      </div>


    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead class="color">
            <tr>
              <th>Sr.</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Amt</th>
              <th>Discount</th>
              <th>Disc. Amt</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let products of activity_productDetails;let i=index;">
              <td>{{i+1}}</td>
              <td><select id="productname" name="productname" class="form-control" [(ngModel)]="products.productId"
                  (change)="onProductChange($event.target.value)">
                  <option [ngValue]="undefined" selected>Select Product Name</option>
                  <option *ngFor="let item of productDetails;" value={{item.id}}>{{item.productname}} </option>
                </select></td>
              <td> 
                <input type="text" class="form-control" id="price" name="price" [(ngModel)]="products.price">
              </td>
              <td> <input type="text" class="form-control" id="quantity" name="quantity"
                  [(ngModel)]="products.quantity">
              </td>
              <td> <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="products.amount">
              </td>
              <td> <input type="text" class="form-control" id="discount_per" name="discount_per"
                  [(ngModel)]="products.discount_per">
              </td>
              <td> <input type="text" class="form-control" id="discount_amt" name="discount_amt"
                  [(ngModel)]="products.discount_amt">
              </td>
              <td><input type="text" class="form-control" id="total_price" name="total_price"
                  [(ngModel)]="products.total_price">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    </div>
  <div class="form-group row">
          <div class="col-sm-1 add_product ">
            <button type="submit" class="form-control btn btn-sm btn-success" (click)="addMoreproducts()"><i
                class="fa fa-plus"></i> Add</button>
            <!-- <button type="submit" class="form-control btn btn-sm btn-success" (click)="toggleDisplay()"><i class="fa fa-plus"></i> Add</button> -->

          </div>
        </div>
    <div class="card-footer">
    <button type="submit" class="btn btn-success" (click)="onEdit(activity.aid)">Update</button>
    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal-body"
      (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
</ng-template>